# ======================
# Python Cache
# ======================
__pycache__/
*.pyc
*.pyo
*.pyd

# ======================
# Virtual Environment
# ======================
.venv/
venv/

# ======================
# Dataset
# ======================
data/raw/
data/split/
*.nii
*.nii.gz
*.csv

# ======================
# Trained Models
# ======================
*.pth
*.pt
checkpoints/
weights/

# ======================
# Logs / Results
# ======================
runs/
logs/
outputs/

# ======================
# Jupyter
# ======================
.ipynb_checkpoints/

# ======================
# OS Files
# ======================
Thumbs.db
.DS_Store

# ======================
# VS Code
# ======================
.vscode/